<div class="form-group"
     [formGroup]="form"
     [ngClass]="{'has-error': (form.get('date').touched
                                || form.get('date').dirty)
                                && !form.get('date').valid}">
  <label class="col-md-2 control-label"
         for="course_date">Date</label>
  <div class="col-sm-6 px-0">
    <input class="form-control"
           id="course_date"
           type="date"
           placeholder="Enter date"
           required
           minlength="1"
           formControlName="date"/>
    <span class="help-block"
          *ngIf="(form.get('date').touched
               || form.get('date').dirty)
               && form.get('date').errors">
          <span *ngIf="form.get('date').hasError('required')">
            Please enter course date.
          </span>
        </span>
  </div>
</div>
