<div class="alert alert-primary course-item container col-8"
   [appHighlightNewCourse]="coursesItem.creationDate">
    <div class="row">
        <div class="col-6">{{coursesItem.title | uppercase}}
            <i class="material-icons"
               *ngIf="coursesItem.topRates"
               [class.text-warning] = "coursesItem.topRates">
                star_rate
            </i>
        </div>
        <div class="col-2">
            {{coursesItem.duration | durationModify}}
        </div>
        <div class="col-2">
            {{coursesItem.creationDate | date: 'dd.MM.yyyy'}}
        </div>
        <div class="col-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <button class="btn btn-success"
                   (click)="edit()">
                    Edit
                </button>
                <button class="btn btn-danger btn-course_delete"
                   (click)="delete()">
                    Delete
                </button>
            </div>
        </div>
        <div class="col-10">
            {{coursesItem.description}}
        </div>
    </div>
</div>
