<div class="input-group container mb-3">
  <div class="input-group col-6">
    <input type="text" class="form-control" placeholder="Name or date"
      aria-label="Please enter name or date"
      aria-describedby="basic-addon2"
      [(ngModel)]="searchCourse">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button"
        (click)="search()">Search</button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary">Add course</button>
</div>
