<div>
  <app-search-course
    (searchCourses)="onSearchCourse($event)">
  </app-search-course>
  <app-courses-list-item *ngFor="let item of coursesItems | filterCourses : courseName"
    [coursesItem]="item"
    (deleteCourse)="onDeleteCourse($event)">
  </app-courses-list-item>
  <button class="btn btn-outline-secondary btn-lg btn-block btn-course-list_more"
    (click)="showMore()">
      Load More
  </button>
  <div class="alert alert-secondary" *ngIf="!coursesItems">
    NO DATA. FEEL FREE TO ADD NEW COURSE.
  </div>
</div>
