<div class="form-group"
     [formGroup]="form"
     [ngClass]="{'has-error': (form.get('duration').touched
                            || form.get('duration').dirty)
                            && !form.get('duration').valid}">
  <label class="col-md-2 control-label"
         for="course_duration">Duration</label>
  <div class="col-sm-6 px-0 input-group mb-3">
    <input class="form-control"
           id="course_duration"
           type="number"
           placeholder="Enter duration"
           required
           minlength="3"
           formControlName="duration"/>
    <div class="input-group-append">
      <span class="input-group-text course_duration_time-hours">1h 20m</span>
    </div>

    <span class="help-block"
          *ngIf="(form.get('duration').touched
               || form.get('duration').dirty)
               && form.get('duration').errors">
          <span *ngIf="form.get('duration').hasError('required')">
            Please enter course duration.
          </span>
          <span *ngIf="form.get('duration').hasError('minlength')">
            Course duration must be longer then 3 characters.
          </span>
        </span>
  </div>
</div>
