<div class="form-group"
   [formGroup]="form"
   [ngClass]="{'has-error': isFieldInvalid(form.get('creationDate'))}">
    <label class="control-label"
       for="course_creationDate">
        Date <sup>*</sup>Required
    </label>
    <span class="help-block"
         *ngIf="isFieldInvalid(form.get('creationDate'))">
      <span *ngIf="form.get('creationDate').hasError('required')">
        Please enter course date.
      </span>
    </span>
    <div class="col-sm-6 px-0">
        <input class="form-control"
           id="course_creationDate"
           type="date"
           placeholder="Enter date"
           required
           minlength="1"
           formControlName="creationDate"/>
    </div>
</div>
